{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if building.current_photo.pic %}
                <p><img src="{{ MEDIA_URL }}{{ building.pic.pic }}" width=100% height=auto></p>
                <br>
            {% else %}
                <p>No image exists at this time</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <p><b> {{ building.name|capfirst }}</b><br>
                <b>{{ building.desc }}</b><br>
                <b>Alternate Building Names:</b><br>
                    {{ building.alter_name }}</p>

        </div>
    </div>
    <p align="center" style="font-size:18px">
        <a href="{% url 'map:ibuildingmap' pk=building.pk %}">Click to View {{ building.name }} Building on Map</a>
    </p>
{% endblock %}