{% extends 'base.html' %}
{% load analytical %}
{% load staticfiles %}
{% block title %}UNG Map{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
                 <p>
                    <h1 style="font-family: Tahoma; color: grey">UNG Campus Map</h1>
                   </p>
			<div class="carousel slide" id="carousel-512619" style= width: 750px>
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-512619">
					</li>
					<li data-slide-to="1" data-target="#carousel-512619">
					</li>
					<li data-slide-to="2" data-target="#carousel-512619">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
                        <img alt= "" src="{% static "map/stucenter.jpg" %}"/>
						<div class="carousel-caption">
							<h3>
								Find Professors, Buildings, and more!
							</h3>
                            <p>
                                <a href="/directories"><button type="button" class="btn btn-info">Locate Directories</button></a>
                            </p>
						</div>
					</div>
					<div class="item">
						<img src="{% static "map/dahlonega.JPG" %}" />
						<div class="carousel-caption">
							<h3>
								Lost? Cannot find the building you need?
							</h3>
							<p>
								<a href="/campus"><button type="button" class="btn btn-info">Explore Maps</button></a>
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{% static "map/dah2.jpg" %}" />
						<div class="carousel-caption">
							<h3>
								Parking Lots? No Problem.
							</h3>
                            <p>
								<a href="/campus"><button type="button" class="btn btn-info">Parking Lots</button></a>
                            </p>


						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-512619" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-512619" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div> <br>
{# Crystal's Haystack Code for the search #}
            <form method="get" action="">
                  <input type="text" maxlength="300" id="search" placeholder="What are you looking for?" required>
                   <input type="submit" value="search" class="sbutton">
                        {% if query %}
                            <h3>Results</h3>

                            {% for result in page.object_list %}
                                <p>
                                    <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                                </p>
                            {% empty %}
                                <p>No results found.</p>
                            {% endfor %}

                            {% if page.has_previous or page.has_next %}
                                <div>
                                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                                    |
                                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            {# Show some example queries to run, maybe query syntax, something else? #}
                        {% endif %}
                </form>

{# CSS to style the search bar and the submit button #}
                <style type ="text/css">

                 form {
                width:300px;
                margin:50px auto;
                 }
                 #search
                 {
                     font-family: Tahoma;
                     font-size: 16px;
                     width:250px;
                 }

                .search {
                border:0px solid #dbdbdb;
                   }
                .sbutton {
                font-family: Tahoma;
                font-size: 20px;
                position:relative;
                padding:8px 15px;
                left:80px;
                border:2px solid #004080;
                background-color:#004080;
                color:#fafafa;
                   }
                .sbutton:hover  {
                background-color:#fafafa;
                color:#207cca;
                }
                </style>


            </form>
		</div>
	</div>
</div>
{% endblock %}