{% load analytical %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <link href = "{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'map/navbar.css' %}>
    {% analytical_head_top %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% analytical_head_bottom %}
{% block moreheader %}
{% endblock %}</head>
<body>
{% analytical_body_top %}
{#Nav Bar #}
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">UNG Map</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/aboutus">About Us</a>
						</li>
						<li>
							<a href="/campus">Browse Directories</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campuses<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
                                {% for campus in campuses %}
								<li>
									<a href="{% url "map:campus_dview" pk=campus.pk %}">{{ campus.name }}</a>
								</li>
                                {% endfor %}
						    </ul>
                        </li>
                            <ul class="nav navbar-nav navbar-right">
                            {% if user.username %}
                                <li><a href="/accounts/logout/">Log Out</a></li>
                            {% else %}
                                <li><a href="/accounts/login/">Login</a></li>
                                <li><a href="/accounts/register/">Register</a></li>
                            {% endif %}

                            {% if user.is_staff %}
                                <li><a href="/admin/">Admin</a></li>
                            {% endif %}
                            </ul>

					</ul>
				</div>

			</nav>

{% block content %}{% endblock %}
{% analytical_body_top %}
</body>
<div class="footer"><a href=/aboutus>Created by students from ITEC 4412</a></div>
    <style type ="text/css">
        .footer {
           position:fixed;
           left:0px;
           bottom:0px;
           height:50px;
           width:100%;
           background:#f1f1f1;
        }

    </style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src=" {% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% block scriptspace %}
{% endblock %}

</html>


